{% extends 'base.html' %} 
{% load static %} 
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}" />
{% endblock %} 

{% block content %}
<section id="user-login">
  <h2>Login</h2>
  <form class="login" method="post">
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <div class="password-reset">
    <a href="{% url 'password_reset' %}">Forgot password? Click here to reset</a>
  </div>
</section>

{% endblock %}
